default:
    suites:
        default:
            contexts:
                - behatch:context:browser
                - behatch:context:debug
                - behatch:context:system
                - behatch:context:json
                - behatch:context:rest
                - Behat\MinkExtension\Context\MinkContext
                - App\Tests\Behat\ApplicationContext
                - App\Tests\Behat\UserContext
                - App\Tests\Behat\TaskContext

    extensions:
        FriendsOfBehat\SymfonyExtension: ~
        Behatch\Extension: ~
        Behat\MinkExtension:
            # Add the URL to your local environment here if you use something else than http://localhost/
            base_url: ''

            sessions:
                browserkit:
                    browserkit_http:
                        http_client_parameters:
                            cafile: ~ # Add the path to your certificate here, if you have self signed HTTPS
